 body {
            font-family: Arial, sans-serif;
            background-color: #f9f9f9;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #f2c0fc;
            color: #fff;
            text-align: center;
            padding: 20px 0;
        }

        header h2 {
            margin: 0;
            font-size: 36px;
        }

        header p {
            font-size: 18px;
            margin-top: 10px;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        }

        hr {
            border: none;
            border-top: 1px solid #ddd;
            margin: 20px 0;
        }

        h3 {
            color: #0073e6;
            margin-top: 20px;
            font-size: 24px;
        }

        i {
            font-style: italic;
            color: #555;
        }

        ul {
            list-style-type: disc;
            padding-left: 20px;
            margin-top: 10px;
        }

        li {
            margin-bottom: 5px;
        }
        li::before{
	       Content:”⭕”;
        }

        img {
            display: block;
            margin: 20px auto;
            border-radius: 50%;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        }

        audio, video {
            display: block;
            margin: 20px auto;
        }

        a {
            text-decoration: none;
            color: #0073e6;
        }

        footer {
            text-align: center;
            padding: 20px 0;
            background-color: #0073e6;
            color: #fff;
        }

        footer a {
            color: #fff;
        }
